.main-wrapper {
    margin: auto;
    max-width: 1500px;
}

.inputDiv {
    display: grid;
    justify-items: center;
}

#myInput {    
    margin-top: 50px;
    margin-bottom: 15px;
    text-indent: 10px;          
    width: 35%;
    height: 40px;
    border-color: lightgray;
    border-radius: 5px;
  }

  .gallery ul {
    padding: 0;
    list-style: none;
}

.gallery ul {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 20px;
    justify-content: center;
}
